* {
    box-sizing: border-box;
}

.bg {
    background: #5a6268;
}

.bg-2 {
    background: #c9c9c9;
}

.fdir-colum {
    flex-direction: column;
}

.fdir-row {
    flex-direction: row;
}

.h-50 {
    min-height: 80px;
}

.h-100 {
    min-height: 100px;
}

.h-250 {
    min-height: 250px;
}

.min_h-33 {
    min-height: 167px;
}

.min_h-50 {
    height: 99px;
}

.marg {
    margin-bottom: 15px;
    margin-top: 15px;
}

.marg_bott {
    margin-bottom: 227px;
}

.marg_bott-30 {
    margin-bottom: 40px;
}


.col-20 {
    -ms-flex: 0 0 18.666667%;
    flex: 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
